/* BASIC SETUP */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  text-rendering: optimizeLegibility;
  font-size: 20px;
  font-weight: 300;
  font-family: 'Lato', 'Arial', sans-serif;
  background-color: #ffffff;
  color: #555555;
  line-height: 1.5em;
}

/* REUSABLE COMPONENTS */
h1 {
  font-size: 250%;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 4px;
  line-height: 1.7em;
  margin-top: 200px;
  margin-left: 45px;
  color: rgb(243, 240, 240);
  font-family: 'Nunito', 'Arial', sans-serif;
}

h2 {
  padding-top: 50px;
  text-align: center;
  max-width: 400px;
}

@media (max-width: 1000px) {
  h1 {
    width: 400px;
  }
}
@media (max-width: 723px) {
  h1 {
    width: 100%;
  }
}
/* HEADER */
#header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/max-goncharov-iN6FWLaWqKs-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100vw;
}

.header-bar {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
}

#header-img {
  width: 100px;
  margin: 30px 0 0 45px;
  position: absolute;
}

/* NAV */
#nav-bar {
  align-self: center;
  margin-right: 50px;
  margin-top: 45px;
}

#nav-bar li {
  display: inline-block;
  padding: 16px;
}

#nav-bar li a {
  text-decoration: none;
  color: rgb(243, 240, 240);
  text-transform: uppercase;
  font-size: 80%;
  font-weight: 400;
  letter-spacing: 1.5px;
  padding-bottom: 5px;
}

#nav-bar li a:link,
#nav-bar li a:visited {
  border-bottom: hidden;
  transition: border-bottom 0.2s;
  -webkit-transition: border-bottom 0.2s;
  -moz-transition: border-bottom 0.2s;
  -ms-transition: border-bottom 0.2s;
  -o-transition: border-bottom 0.2s;
}

#nav-bar li a:hover,
#nav-bar li a:active {
  border-bottom: 2px solid #c23730;
}

@media (max-width: 720px) {
  #nav-bar li {
    display: block;
  }
}

/* Section Features */
#section-features {
  display: grid;
  grid-template-rows: 1fr 1fr 2fr 2fr;
  grid-template-columns: 1fr 2fr 1fr;
  height: 100vh;
  background: rgb(243, 240, 240);
  row-gap: 2em;
}

.tittle {
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: center;
  display: flex;
}

.long-copy {
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: center;
  display: flex;
  padding: 0 15%;
}

.long-copy p {
  align-self: center;
  font-size: 110%;
}

h2:after {
  display: block;
  content: '';
  border-bottom: 2px solid #c23730;
  padding-top: 35px;
}

.video {
  grid-column: 2/3;
  grid-row: 3/4;
  justify-self: center;
  display: flex;
}

#video {
  align-self: center;
}

/* HOW IT WORKS */

#works {
  min-height: 100vh;
}

#works p {
  text-align: center;
}

.copy2 {
  font-size: 110%;
}

.box {
  background-color: #e7f8f9;
  border: 2px solid #ccf0f2;
  text-align: center;
  padding-bottom: 10px;
}

.box p {
  text-align: center;
  padding: 5px 30px;
}

.kit-name {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 110%;
}

.kit-img {
  width: 300px;
  padding-top: 10px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    '. tittle .'
    '. sub-tittle .'
    'box1 box2 box3'
    'box1 box2 box3';
  column-gap: 1em;
  row-gap: 2em;
  justify-items: center;
  margin: 0 20px;
  margin-bottom: 40px;
}

.tittle2 {
  grid-area: tittle;
}

.copy2 {
  grid-area: sub-tittle;
}

.box-1 {
  grid-area: box1;
}
.box-2 {
  grid-area: box2;
}
.box-3 {
  grid-area: box3;
}

@media (max-width: 930px) {
  .grid {
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
      'tittle'
      'sub-tittle'
      'box1'
      'box2'
      'box3';
  }
}

/* CONTACT US */

#contact-us {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/dragos-gontariu-lUHlmmBw5lo-unsplash.jpg);
  min-height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  color: rgb(243, 240, 240);
  text-align: center;
}

#contact-us h2 {
  display: block;
  margin: 0 auto 20px auto;
  max-width: 150px;
}
#contact-us p {
  font-size: 110%;
  margin: 0 auto 5px auto;
  max-width: 50%;
}

/* FORM */

form {
  margin: 30px 0 0 50px;
  line-height: 2em;
  width: 40%;
  height: 400px;
  display: flex;
  flex-direction: column;
  text-align: start;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#name,
#email,
#message-box {
  width: 100%;
  display: block;
  padding: 5px;
  height: 35px;
  border: none;
}
*:focus {
  outline: none;
}
.input-focus {
  border: 2px solid #dddddd;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  background-color: #eeeeee;
  transition: background-color 0.25s, border-color 0.25s;
  -webkit-transition: background-color 0.25s, border-color 0.25s;
  -moz-transition: background-color 0.25s, border-color 0.25s;
  -ms-transition: background-color 0.25s, border-color 0.25s;
  -o-transition: background-color 0.25s, border-color 0.25s;
}
.input-focus:focus {
  background-color: #ffffff;
}

#message-box {
  text-align: left;
  height: 170px;
  resize: none;
}
@media (max-width: 758px) {
  #contact-copy {
    display: flex;
    align-content: space-between;
    width: 100%;
  }
}
