/* BASIC SETUP */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  text-rendering: optimizeLegibility;
  font-size: 20px;
  font-weight: 300;
  font-family: 'Lato', 'Arial', sans-serif;
  background-color: #ffffff;
  color: #555555;
  line-height: 1.5em;
}

/* REUSABLE COMPONENTS */
h1 {
  font-size: 250%;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 4px;
  line-height: 1.7em;
  margin-top: 200px;
  margin-left: 45px;
  color: rgb(243, 240, 240);
  font-family: 'Nunito', 'Arial', sans-serif;
}

@media (max-width: 1000px) {
  h1 {
    width: 400px;
  }
}
@media (max-width: 723px) {
  h1 {
    width: 100%;
  }
}
/* HEADER */
#header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/max-goncharov-iN6FWLaWqKs-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
}

.header-bar {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
}

#header-img {
  width: 100px;
  margin: 30px 0 0 45px;
  position: absolute;
}

/* NAV */
#nav-bar {
  align-self: center;
  margin-right: 100px;
  margin-top: 45px;
}

#nav-bar li {
  display: inline-block;
  padding: 16px;
}

#nav-bar li a {
  text-decoration: none;
  color: rgb(243, 240, 240);
  text-transform: uppercase;
  font-size: 80%;
  font-weight: 400;
  padding-bottom: 5px;
}

#nav-bar li a:link,
#nav-bar li a:visited {
  border-bottom: hidden;
  transition: border-bottom 0.2s;
  -webkit-transition: border-bottom 0.2s;
  -moz-transition: border-bottom 0.2s;
  -ms-transition: border-bottom 0.2s;
  -o-transition: border-bottom 0.2s;
}

#nav-bar li a:hover,
#nav-bar li a:active {
  border-bottom: 2px solid #bf2821;
}

@media (max-width: 720px) {
  #nav-bar li {
    display: block;
  }
}

/* Section Features */
#section-features {
  display: grid;
  grid-template-rows: 1fr 2fr 3fr;
  grid-template-columns: 1fr 2fr 1fr;
  height: 100vh;
  background: rgb(243, 240, 240);
}

.tittle {
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: center;
  display: flex;
}

.tittle h2 {
  padding-top: 30px;
  align-self: center;
}

.copy {
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: center;
  display: flex;
  padding: 0 15%;
}

.copy p {
  align-self: center;
  font-size: 110%;
}

.tittle h2::after {
  display: block;
  content: '';
  border-bottom: 2px solid #bf2821;
  padding-top: 35px;
}

.video {
  grid-column: 2/3;
  grid-row: 3/4;
  justify-self: center;
  display: flex;
  margin-bottom: 30px;
}

#video {
  align-self: center;
}
